
#u3306_text {
  border-width:0px;
  position:absolute;
  left:-228px;
  top:49px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3307 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:6664px;
  width:0px;
  height:0px;
}
#u3307_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:8px;
  width:180px;
  height:10px;
  -webkit-transform:rotate(7deg);
  -moz-transform:rotate(7deg);
  -ms-transform:rotate(7deg);
  transform:rotate(7deg);
}
#u3307_seg1 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:14px;
  width:264px;
  height:10px;
  -webkit-transform:rotate(-2deg);
  -moz-transform:rotate(-2deg);
  -ms-transform:rotate(-2deg);
  transform:rotate(-2deg);
}
#u3307_text {
  border-width:0px;
  position:absolute;
  left:123px;
  top:13px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3308 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:6689px;
  width:0px;
  height:0px;
}
#u3308_seg0 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:143px;
  width:328px;
  height:14px;
  -webkit-transform:rotate(108deg);
  -moz-transform:rotate(108deg);
  -ms-transform:rotate(108deg);
  transform:rotate(108deg);
}
#u3308_seg1 {
  border-width:0px;
  position:absolute;
  left:-355px;
  top:471px;
  width:378px;
  height:8px;
  -webkit-transform:rotate(111deg);
  -moz-transform:rotate(111deg);
  -ms-transform:rotate(111deg);
  transform:rotate(111deg);
}
#u3308_text {
  border-width:0px;
  position:absolute;
  left:-150px;
  top:292px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:828px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u7_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:11171px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3309 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:11171px;
  display:flex;
}
#u3309 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(42, 111, 246, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-896px;
  width:1278px;
  height:40px;
  display:flex;
}
#u3310 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Condensed', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  text-decoration:underline ;
  color:#2A6FF6;
}
#u3312 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-891px;
  width:88px;
  height:30px;
  display:flex;
  font-family:'Roboto Condensed', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  text-decoration:underline ;
  color:#2A6FF6;
}
#u3312 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3312_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Condensed', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  text-decoration:underline ;
  color:#2A6FF6;
}
#u3312.selected {
}
#u3312_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Condensed', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u3313 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:-891px;
  width:60px;
  height:30px;
  display:flex;
  font-family:'Roboto Condensed', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u3313 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3313_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Condensed', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u3313.selected {
}
#u3313_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Condensed', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u3314 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:-891px;
  width:94px;
  height:30px;
  display:flex;
  font-family:'Roboto Condensed', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u3314 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3314_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Condensed', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u3314.selected {
}
#u3314_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Condensed', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u3315 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:-891px;
  width:89px;
  height:30px;
  display:flex;
  font-family:'Roboto Condensed', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u3315 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3315_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Condensed', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u3315.selected {
}
#u3315_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Condensed', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u3316 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:-891px;
  width:181px;
  height:30px;
  display:flex;
  font-family:'Roboto Condensed', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u3316 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3316_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Condensed', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u3316.selected {
}
#u3316_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:828px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3317 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-856px;
  width:1278px;
  height:828px;
  display:flex;
}
#u3317 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
